
@{
    ViewData["Title"] = "Fail";
    Layout = "~/Views/Shared/_frontEnd.cshtml";
}

<h2>Thanh toán thất bại</h2>
<div><a asp-action="Index" asp-controller="GioHang" class="btn btn-primary">Trở về giỏ hàng</a></div>




